name: Building and Testing the app

on: push

jobs: 
  build:
     runs-on: ubuntu-latest
     steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: use nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: '20.x'
      - run: npm cache clean --force
      - run: npm install
      - run: npm run build
      - run: |   # pipe symbol is needed for multi line string
          echo "current directory before changing"
          pwd
          echo "Listing contents of directory"
          ls -la
          echo "Listing contents of dist directory"
          cd dist
          ls -la


        
