name: Testing manual triggers for a workflow

# manually trigger a workflow from github
on:
 workflow_dispatch:
   
jobs:
  test:
      runs-on: ubuntu-latest
      steps:
        - name: checkout repo
          uses: actions/checkout@v4
        - name: Logging current work directory
          run: pwd


    


