name: Testing schedule triggers for a workflow

on: 
  schedule:
    - cron: '1 * * * *'

# schedule the workflow file execution
# You can use on.schedule to define a time schedule for your workflows.
# Cron syntax has five fields separated by a space, and each field represents a unit of time.

# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
# │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
# │ │ │ │ │
# * * * * *

   
jobs:
  test:
      runs-on: ubuntu-latest
      steps:
        - name: checkout repo
          uses: actions/checkout@v4
        - name: Logging current work directory
          run: pwd


    


